body{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
.button-container{
    display: flex;
    justify-content: center;
}
button{
    margin: 10px;
    padding: 10px;
    background-color: gold;
    font-size: 15px;
    border-radius: 2px;
    border: 2px solid black;
}
button:hover{
    background-color: yellow;
}
.container{
    min-height: 75vh;
    border: 2px solid black;
}
.row{
    display: flex; 
}
.cells{
    border: 1px solid black; 
}
.cells:hover{
    background-color: black;
}
